body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    color: green;
    height: 100%;
}
.content{
    z-index: 2;
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
#canvas{
    height: 50%;
    width: 100%;
}
input, input:focus{
    background-color: inherit;
    border-top: 0px ;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid green;
    box-shadow: none;
    outline: none;
    color: white;
}
label, h2, h1{
    color: yellow;
}
#result{
    color: white;
}
input[type=submit]{
    border: 2px solid green;
    color: yellow;
}